body {
  color: #40514E;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 5.6rem;
  margin: 50px;
  font-family: 'Satisfy', cursive;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Nova Flat', cursive;
  color: #66BFBF;
  font-weight:normal;
  padding-bottom: 10px;
}
div{

  padding-bottom: 5px;
}
h3 {
  color: #11999E;
}

a {
  color: #11999E;
  font-family: 'Nova Flat', cursive;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: white;
}
p{
  line-height: 2;
}
hr{
  border: dotted;
  color:  #EAF6F6;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}


.intro{
  width: 30%;
  margin: auto;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px;
  text-align: left;

}
.comp-img{
  float: left;
  margin-right: 30px;
  width: 25%;
}
.cam-img{
  float: right;
  margin-left: 30px;
  width: 25%;
}
.top-container {
  position: relative;
  padding-top: 100px;
  background-color: #e3fdfd;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.BUTTON_LEK {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   height: 50px;
   line-height: 50px;
   color: #FFFFFF;
   font-family: 'Nova Flat', cursive;
   width: 200px;
   font-size: 23px;
   font-weight: 100;

   padding: 0;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_LEK:hover {
   border: solid #337FED 0;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
}
